[submodule "Projeto01"]
	path = Projeto01
	url = https://github.com/Gustavo-Almeida-M/ProjetosAvante-01.git
[submodule "Projeto02"]
	path = Projeto02
	url = https://github.com/Gustavo-Almeida-M/ProjetoAvante-02.git
